<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1c1c1c;">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand" href="#">
      <img
        src="assets/unnamed.gif"
        alt="imagen"
        width="40"
        height="40"
        class="img-responsive rounded-circle me-3">
      Game Of the Year App
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a 
            class="nav-link"
            routerLink="inicio"
            routerLinkActive="active">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link"
            routerLink="goty"
            routerLinkActive="active">
            Goty</a>
        </li>
      </ul>
    </div>
  </div>
</nav>