<h2>Votar por el Game Of The Year</h2>
<hr>

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col" *ngFor="let juego of juegos">
    <div class="card h-100 bg-dark">
      <img [src]="juego.url" class="card-img-top h-75" style="object-fit: cover;" [alt]="juego.name">
      <div class="card-body ">
        <h3 class="card-title mb-2">{{juego.name}}</h3>
        <p class="card-text ">Click aquí para votar por este juego</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-block w-100 btn-outline-primary">Votar</button>
      </div>
    </div>
  </div>

</div>